<div id="user_login" class="col-md-3">
  <div id="container">
    <div id="user_status">
        <%= render 'login'%>
    </div>
    </div>
  <div style="height:500px;" id="map­canvas"></div>
</div>

<div class="col-md-9">
  <h2><img src ="/logo.png" height = "100"> PMBOK Docs</h2><br/>
  <p align="justify"><h4>PMCOK Docs is an Integrated Project Management System mainly focusing on the management of documents in your project.
  It will allow you to create a new project and manage it smoothly and properly.
  PMBOK Docs will allow you to track down the documents, activities and issues</h4></p>
</div>
