<div id="new_project" class="col-md-2">
  <br/>
  <p><h5>
    <ol>
      <li>This Section will list out all the docuemnts neede in the project. </li><br/>
      <li>By clicking on the document will leads you to the avaibale versions of that docuement.</li>
   </ol>
  </h5></p>
<br/>
  <%= link_to 'Back', project_path(@projectId), :class => "btn btn-default" %>
</div>

<div id="new_project" class="col-md-4">
  <div class="container">
    <div class="page-header">
      <h1>Document List</h1>
    </div>
    <table class = "table table-striped">
     <tbody>
        <% @document_categories.each do |documentCategory| %>
        <tr>
          <td><h4><%= link_to documentCategory.categoryName,:controller => :documents, :action => :show,
                            :projectId => @projectId, :documentCategoryId => documentCategory.id %></h4></td>
          </tr>
      <% end %>
    </tbody>
</table>

<br>
</div>
